/*
Import fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    user-select: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #DFCFBE;
}

div.left-side{
    padding: 30px;
    padding-top: 40px;
    position: fixed;
    left: 0;
    height: 100%;
    width: 16%;
    background-color: #9B2335;
}

div.left-side h2{
    font-size: 30px;
    font-family: 'Roboto';
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

div.left-side h3{
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: 'Roboto';
    font-style: italic;
}

div.compte{
    margin: 15px;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.compte p{
    font-family: 'Roboto';
    font-size: 14px;
}

div.compte img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}